[Desktop Entry]
Name=Falkon no-sandbox
Name[ca]=Falkon no-sandbox
Name[ca@valencia]=Falkon no-sandbox
Name[cs]=Falkon no-sandbox
Name[da]=Falkon no-sandbox
Name[de]=Falkon no-sandbox
Name[en_GB]=Falkon no-sandbox
Name[es]=Falkon no-sandbox
Name[fi]=Falkon no-sandbox
Name[fr]=Falkon no-sandbox
Name[gl]=Falkon no-sandbox
Name[id]=Falkon no-sandbox
Name[it]=Falkon no-sandbox
Name[nl]=Falkon no-sandbox
Name[nn]=Falkon no-sandbox
Name[pl]=Falkon no-sandbox
Name[pt]=Falkon no-sandbox
Name[pt_BR]=Falkon no-sandbox
Name[ru]=Falkon no-sandbox
Name[sk]=Falkon no-sandbox
Name[sv]=Falkon no-sandbox
Name[uk]=Falkon no-sandbox
Name[x-test]=xxFalkonxx
Name[zh_CN]=Falkon no-sandbox
Name[zh_TW]=Falkon no-sandbox
Type=Application
Icon=falkon
Categories=Network;WebBrowser;
Comment=A fast and secure web browser
Comment[ar]=متصفّح وبّ سريع وآمن
Comment[ca]=Un navegador web ràpid i segur
Comment[ca@valencia]=Un navegador web ràpid i segur
Comment[cs]=Rychlý a bezpečný webový prohlížeč
Comment[da]=En hurtig og sikker webbrowser
Comment[de]=Ein schneller und sicherer Webbrowser
Comment[en_GB]=A fast and secure web browser
Comment[es]=Un navegador web rápido y seguro
Comment[fi]=Nopea ja turvallinen verkkoselain
Comment[fr]=Un navigateur Web rapide et sécurisé
Comment[gl]=Un navegador rápido e seguro
Comment[id]=Sebuah penelusur web yang cepat dan aman
Comment[it]=Un browser web veloce e sicuro
Comment[nl]=Een snelle en veilige webbrowser
Comment[nn]=Ein kjapp og sikker nettlesar
Comment[pl]=Szybka i bezpieczna przeglądarka sieciowa
Comment[pt]=Um navegador Web rápido e seguro
Comment[pt_BR]=Um navegar Web rápido e seguro
Comment[sk]=Rýchly a bezpečný prehliadač internetu
Comment[sv]=En snabb och säker webbläsare
Comment[uk]=Проста і безпечна програма для перегляду інтернету
Comment[x-test]=xxA fast and secure web browserxx
Comment[zh_CN]=快速、安全的网页浏览器
Comment[zh_TW]=快速且安全的網路瀏覽器
GenericName=Web Browser
GenericName[ar]=متصفّح وبّ
GenericName[ca]=Navegador web
GenericName[ca@valencia]=Navegador web
GenericName[cs]=Webový prohlížeč
GenericName[da]=Webbrowser
GenericName[de]=Webbrowser
GenericName[en_GB]=Web Browser
GenericName[es]=Navegador web
GenericName[fi]=Verkkoselain
GenericName[fr]=Navigateur Web
GenericName[gl]=Navegador web
GenericName[id]=Penelusur Web
GenericName[it]=Browser web
GenericName[nl]=Webbrowser
GenericName[nn]=Nettlesar
GenericName[pl]=Przeglądarka sieciowa
GenericName[pt]=Navegador Web
GenericName[pt_BR]=Navegador Web
GenericName[sk]=Webový prehliadač
GenericName[sv]=Webbläsare
GenericName[uk]=Переглядач інтернету
GenericName[x-test]=xxWeb Browserxx
GenericName[zh_CN]=网页浏览器
GenericName[zh_TW]=網路瀏覽器
Exec=/usr/local/bin/falkon--no-sandbox %u
StartupWMClass=Falkon
MimeType=text/html;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;application/x-mimearchive;
Terminal=false
Actions=NewTab;NewWindow;PrivateBrowsing;

[Desktop Action NewTab]
Name=Open new tab
Name[ar]=افتح لسانًا جديدًا
Name[ca]=Obre una pestanya nova
Name[ca@valencia]=Obri una pestanya nova
Name[cs]=Otevřít novou kartu
Name[da]=Åbn nyt faneblad
Name[de]=Neues Unterfenster öffnen
Name[en_GB]=Open new tab
Name[es]=Abrir nueva pestaña
Name[fi]=Avaa uusi välilehti
Name[fr]=Ouvrir un nouvel onglet
Name[gl]=Abrir unha lapela nova
Name[id]=Buka tab baru
Name[it]=Apri una nuova scheda
Name[nl]=Nieuw tabblad openen
Name[nn]=Opna ny fane
Name[pl]=Otwórz nową kartę
Name[pt]=Abrir uma nova página
Name[pt_BR]=Abrir uma nova guia
Name[sk]=Otvoriť novú záložku
Name[sv]=Öppna ny flik
Name[uk]=Відкрити нову вкладку
Name[x-test]=xxOpen new tabxx
Name[zh_CN]=打开新标签
Name[zh_TW]=開啟新分頁
Exec=/usr/local/bin/falkon--no-sandbox --new-tab

[Desktop Action NewWindow]
Name=Open new window
Name[ar]=افتح نافذة جديدة
Name[ca]=Obre una finestra nova
Name[ca@valencia]=Obri una finestra nova
Name[cs]=Otevřít nové okno
Name[da]=Åbn nyt vindue
Name[de]=Neues Fenster öffnen
Name[en_GB]=Open new window
Name[es]=Abrir nueva ventana
Name[fi]=Avaa uusi ikkuna
Name[fr]=Ouvrir une nouvelle fenêtre
Name[gl]=Abrir unha xanela nova
Name[id]=Buka window baru
Name[it]=Apre una nuova finestra
Name[nl]=Nieuw venster openen
Name[nn]=Opna nytt vindauge
Name[pl]=Otwórz nowe okno
Name[pt]=Abrir uma nova janela
Name[pt_BR]=Abrir nova janela
Name[sk]=Otvoriť nové okno
Name[sv]=Öppna nytt fönster
Name[uk]=Відкрити нове вікно
Name[x-test]=xxOpen new windowxx
Name[zh_CN]=打开新窗口
Name[zh_TW]=開啟新視窗
Exec=/usr/local/bin/falkon--no-sandbox --new-window

[Desktop Action PrivateBrowsing]
Name=Start private browsing
Name[ar]=ابدأ التّصفّح الخاصّ
Name[ca]=Inicia la navegació privada
Name[ca@valencia]=Inicia la navegació privada
Name[cs]=Začít soukromé prohlížení
Name[da]=Start privat browsing
Name[de]=Im privaten Browsermodus starten
Name[en_GB]=Start private browsing
Name[es]=Iniciar navegación privada
Name[fi]=Aloita yksityisselaus
Name[fr]=Démarrer la navigation privée
Name[gl]=Iniciar a navegación privada
Name[id]=Mulai penelusuran privasi
Name[it]=Avvia navigazione anonima
Name[nl]=Privébrowsing starten
Name[nn]=Start privat nettlesing
Name[pl]=Rozpocznij prywatne przeglądanie
Name[pt]=Iniciar a navegação privada
Name[pt_BR]=Iniciar navegação privada
Name[sk]=Začať súkromné prehliadanie
Name[sv]=Starta privat webbläsning
Name[uk]=Конфіденційний перегляд
Name[x-test]=xxStart private browsingxx
Name[zh_CN]=启动隐身浏览
Name[zh_TW]=開始隱私瀏覽
Exec=/usr/local/bin/falkon--no-sandbox --private-browsing